@model Employee



<h1 style ="font-size : 90px ; font-family : monospace ; " >Details</h1>

<br />
<br />

<h2  style ="font-size : 30px ; font-family : monospace ; " >First name : @Model.FName</h2>
<h2  style ="font-size : 30px ; font-family : monospace ; " >Last  name : @Model.LName</h2>
<h2  style ="font-size : 30px ; font-family : monospace ; " >Age        : @Model.Age</h2>
<h2  style ="font-size : 30px ; font-family : monospace ; " >Address    : @Model.Address</h2>
<h2  style ="font-size : 30px ; font-family : monospace ; " >Email      : @Model.Email</h2>
<h2  style ="font-size : 30px ; font-family : monospace ; " >Url        : @Model.Url</h2>
